body {
    font-family: 'Roboto', sans-serif;
    background: #edf3f0;
}

p {
    margin: 10px 0;
}

h1 {
    text-align: center;
}

label,
input,
option,
select,
button,
p {
    font-size: 20px;
}

.out-1 {
    text-align: center;
    font-size: 30px;
    color: red;
}

#second_task {
    display: flex;
}

#second_task select {
    display: block;
}

#second_form {
    border: 1px solid orangered;
}

#second_form input,
#second_form label {
    margin-top: 10px;
    display: block;
}

.source button {
    margin-top: 10px;
}

.close {
    display: none;
}

.profiles {
    display: block;
    margin: 0 20px;
    height: 85px;
}

.profiles div {
    margin: 20px;
}

.profiles p {
    border: 1px solid orange;
}

.hide {
    display: none;
}

#third_task {
    width: 200px;
    margin: 0 auto;
}

.third_task {
    width: 100%;
}